name: Lint

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

        pip install -r requirements.txt
        pip install .[fireworks]
        pip install .[vis]
        pip install .[dev]

    - name: Lint
      run: pre-commit run --all-files
