name: testing

on:
  push:
    branches: [main]
    tags: ['v*']

  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run --all-files --show-diff-on-failure

  test:
    services:
      local_mongodb:
        image: mongo:4.0
        ports:
          - 27017:27017

    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - { python: "3.9", resolution: highest, extras: "tests,strict" }
          - { python: "3.10", resolution: lowest-direct, extras: "tests" }
          - { python: "3.11", resolution: highest, extras: tests }
          # python 3.12 CI failing due to maggma incompatible, see
          # https://github.com/materialsproject/jobflow/pull/640#issuecomment-2209055692
          # - { python: "3.12", resolution: lowest-direct, extras: tests }

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version.python }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install dependencies
        run: |
          pip install uv
          uv pip install '.[${{ matrix.version.extras }}]' --system --resolution=${{ matrix.version.resolution }}

      - name: Test
        run: pytest --cov=jobflow --cov-report=xml

      - uses: codecov/codecov-action@v1
        if: matrix.version.python == '3.11' && github.repository == 'materialsproject/jobflow'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pandoc
        run: sudo apt-get install pandoc

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          pip install uv
          uv pip install .[strict,docs] --system

      - name: Build
        run: sphinx-build docs docs_build

  automerge:
    needs: [lint, test, docs]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
